name: CI

on: 
  push:
    branches: 
      - main
  pull_request:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
        with:
          submodules: recursive
      - name: Run Tests in Docker
        run: bin/run-tests-in-docker.sh
